.outline-search {
  color: #ae56ff;
  border-color: #ae56ff;
  background-color: white;
}
.nav_right {
  margin-left: auto;
  margin-right: auto;
}

.nav_last {
  margin-left: auto;
  margin-right: 150px;
}

.logBtn {
  margin-right: -100px;
}

.loginBtn {
  color: white;
  background-color: #ae56ff;
}

.container {
  background: white;
}

.ui-w-80 {
  width: 120px !important;
  height: auto;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.media-body {
  flex: 1;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.text-gray {
  color: gray;
}
