.outline-search {
  color: #ae56ff;
  border-color: #ae56ff;
  background-color: white;
}

.outline-search:hover {
  color: white;
  border-color: #ae56ff;
  background-color: #ae56ff;
}

.nav_right {
  width: 400px;

  /* margin-left: 33%; */
  margin-left: auto;
  margin-right: auto;
}

.nav_last {
  margin-left: auto;
  margin-right: 150px;
}

.logBtn {
  margin-right: -100px;
}

.loginBtn {
  color: white;
  background-color: #ae56ff;
}

.loginBtn:hover {
  color: white;
  background-color: #773ab1;
}
